In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |████████████████████████████████| 212.3MB 64kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 46.3MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=14498bef0249ed48f5f5ad5e85d92a58ac1ba14ddfd3a2589d53d5e053b1c90f
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [ ]:
import pandas as pd
import numpy as np
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('ML project').getOrCreate()

In [ ]:
df = spark.read.csv('bank.csv', header = True, inferSchema = True)
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- deposit: string (nullable = true)

In [ ]:
class_name = df.columns[len(df.columns)-1]
df.groupBy(class_name).count().toPandas()

  deposit  count
0      no   5873
1     yes   5289

In [ ]:
from pyspark.ml.feature import StringIndexer
indexer = StringIndexer()

df1 = df

for index in range(len(df1.columns)):
  new_name = df.columns[index]+'_'
  indexer.setInputCol(df.columns[index]).setOutputCol(new_name)
  df1 = indexer.fit(df1).transform(df1)

In [ ]:
df1.show()

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+----+----+--------+----------+--------+--------+--------+-----+--------+----+------+---------+---------+------+---------+---------+--------+
|age|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|age_|job_|marital_|education_|default_|balance_|housing_|loan_|contact_|day_|month_|duration_|campaign_|pdays_|previous_|poutcome_|deposit_|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+----+----+--------+----------+--------+--------+--------+-----+--------+----+------+---------+---------+------+---------+---------+--------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|31.0| 3.0|     0.0|       0.0|     0.0|  2746.0|     1.0|  0.0|     1.0| 3.0|   0.0|    788.0|      0.0|   0.0|      0.0|      0.0|     1.0|
| 56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|32.0| 3.0|     0.0|       0.0|     0.0|   436.0|     0.0|  0.0|     1.0| 3.0|   0.0|   1004.0|      0.0|   0.0|      0.0|      0.0|     1.0|
| 41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|12.0| 2.0|     0.0|       0.0|     0.0|   680.0|     1.0|  0.0|     1.0| 3.0|   0.0|    999.0|      0.0|   0.0|      0.0|      0.0|     1.0|
| 55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|26.0| 4.0|     0.0|       0.0|     0.0|  2787.0|     1.0|  0.0|     1.0| 3.0|   0.0|    563.0|      0.0|   0.0|      0.0|      0.0|     1.0|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|29.0| 3.0|     0.0|       1.0|     0.0|   285.0|     0.0|  0.0|     1.0| 3.0|   0.0|    643.0|      1.0|   0.0|      0.0|      0.0|     1.0|
| 42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|13.0| 0.0|     1.0|       1.0|     0.0|     0.0|     1.0|  1.0|     1.0| 3.0|   0.0|    393.0|      1.0|   0.0|      0.0|      0.0|     1.0|
| 56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|32.0| 0.0|     0.0|       1.0|     0.0|   848.0|     1.0|  1.0|     1.0| 8.0|   0.0|    971.0|      0.0|   0.0|      0.0|      0.0|     1.0|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|33.0| 5.0|     2.0|       0.0|     0.0|  1152.0|     1.0|  0.0|     1.0| 8.0|   0.0|    688.0|      0.0|   0.0|      0.0|      0.0|     1.0|
| 37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes| 7.0| 2.0|     0.0|       0.0|     0.0|     1.0|     1.0|  0.0|     1.0| 8.0|   0.0|    395.0|      0.0|   0.0|      0.0|      0.0|     1.0|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|14.0| 4.0|     1.0|       0.0|     0.0|  3388.0|     1.0|  0.0|     1.0| 8.0|   0.0|    985.0|      2.0|   0.0|      0.0|      0.0|     1.0|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes| 8.0| 3.0|     1.0|       0.0|     0.0|    78.0|     1.0|  0.0|     1.0|16.0|   0.0|    866.0|      0.0|   0.0|      0.0|      0.0|     1.0|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes| 5.0| 1.0|     0.0|       0.0|     0.0|    91.0|     1.0|  0.0|     1.0|16.0|   0.0|   1013.0|      1.0|   0.0|      0.0|      0.0|     1.0|
| 29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|10.0| 0.0|     0.0|       1.0|     0.0|   151.0|     1.0|  1.0|     1.0|16.0|   0.0|   1309.0|      3.0|   0.0|      0.0|      0.0|     1.0|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|15.0| 1.0|     1.0|       1.0|     0.0|  1131.0|     1.0|  0.0|     1.0|16.0|   0.0|    949.0|      1.0|   0.0|      0.0|      0.0|     1.0|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes| 0.0| 2.0|     1.0|       1.0|     0.0|   184.0|     1.0|  0.0|     1.0|10.0|   0.0|    903.0|      1.0|   0.0|      0.0|      0.0|     1.0|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes| 4.0| 0.0|     2.0|       1.0|     0.0|  3154.0|     1.0|  0.0|     1.0|10.0|   0.0|    941.0|      0.0|   0.0|      0.0|      0.0|     1.0|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes| 1.0| 1.0|     1.0|       2.0|     0.0|   812.0|     1.0|  0.0|     1.0|10.0|   0.0|    619.0|      2.0|   0.0|      0.0|      0.0|     1.0|
| 49|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|20.0| 4.0|     0.0|       0.0|     0.0|   915.0|     1.0|  0.0|     1.0|10.0|   0.0|    951.0|      0.0|   0.0|      0.0|      0.0|     1.0|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|12.0| 3.0|     0.0|       0.0|     0.0|   449.0|     1.0|  0.0|     1.0|10.0|   0.0|    693.0|      1.0|   0.0|      0.0|      0.0|     1.0|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|20.0| 3.0|     2.0|       0.0|     0.0|    82.0|     1.0|  1.0|     1.0|10.0|   0.0|    459.0|      0.0|   0.0|      0.0|      0.0|     1.0|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+----+----+--------+----------+--------+--------+--------+-----+--------+----+------+---------+---------+------+---------+---------+--------+
only showing top 20 rows

In [ ]:
class_name = 'deposit_'
features_names = df1.columns[17:-1]
print(features_names)

['age_', 'job_', 'marital_', 'education_', 'default_', 'balance_', 'housing_', 'loan_', 'contact_', 'day_', 'month_', 'duration_', 'campaign_', 'pdays_', 'previous_', 'poutcome_']

In [ ]:
from pyspark.ml.feature import VectorAssembler

assembler = VectorAssembler()
assembler.setInputCols(features_names).setOutputCol('features')
transformed_data = assembler.transform(df1)

In [ ]:
transformed_data.show()

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+----+----+--------+----------+--------+--------+--------+-----+--------+----+------+---------+---------+------+---------+---------+--------+--------------------+
|age|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|age_|job_|marital_|education_|default_|balance_|housing_|loan_|contact_|day_|month_|duration_|campaign_|pdays_|previous_|poutcome_|deposit_|            features|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+----+----+--------+----------+--------+--------+--------+-----+--------+----+------+---------+---------+------+---------+---------+--------+--------------------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|31.0| 3.0|     0.0|       0.0|     0.0|  2746.0|     1.0|  0.0|     1.0| 3.0|   0.0|    788.0|      0.0|   0.0|      0.0|      0.0|     1.0|(16,[0,1,5,6,8,9,...|
| 56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|32.0| 3.0|     0.0|       0.0|     0.0|   436.0|     0.0|  0.0|     1.0| 3.0|   0.0|   1004.0|      0.0|   0.0|      0.0|      0.0|     1.0|(16,[0,1,5,8,9,11...|
| 41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|12.0| 2.0|     0.0|       0.0|     0.0|   680.0|     1.0|  0.0|     1.0| 3.0|   0.0|    999.0|      0.0|   0.0|      0.0|      0.0|     1.0|(16,[0,1,5,6,8,9,...|
| 55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|26.0| 4.0|     0.0|       0.0|     0.0|  2787.0|     1.0|  0.0|     1.0| 3.0|   0.0|    563.0|      0.0|   0.0|      0.0|      0.0|     1.0|(16,[0,1,5,6,8,9,...|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|29.0| 3.0|     0.0|       1.0|     0.0|   285.0|     0.0|  0.0|     1.0| 3.0|   0.0|    643.0|      1.0|   0.0|      0.0|      0.0|     1.0|(16,[0,1,3,5,8,9,...|
| 42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|13.0| 0.0|     1.0|       1.0|     0.0|     0.0|     1.0|  1.0|     1.0| 3.0|   0.0|    393.0|      1.0|   0.0|      0.0|      0.0|     1.0|(16,[0,2,3,6,7,8,...|
| 56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|32.0| 0.0|     0.0|       1.0|     0.0|   848.0|     1.0|  1.0|     1.0| 8.0|   0.0|    971.0|      0.0|   0.0|      0.0|      0.0|     1.0|(16,[0,3,5,6,7,8,...|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|33.0| 5.0|     2.0|       0.0|     0.0|  1152.0|     1.0|  0.0|     1.0| 8.0|   0.0|    688.0|      0.0|   0.0|      0.0|      0.0|     1.0|(16,[0,1,2,5,6,8,...|
| 37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes| 7.0| 2.0|     0.0|       0.0|     0.0|     1.0|     1.0|  0.0|     1.0| 8.0|   0.0|    395.0|      0.0|   0.0|      0.0|      0.0|     1.0|(16,[0,1,5,6,8,9,...|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|14.0| 4.0|     1.0|       0.0|     0.0|  3388.0|     1.0|  0.0|     1.0| 8.0|   0.0|    985.0|      2.0|   0.0|      0.0|      0.0|     1.0|(16,[0,1,2,5,6,8,...|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes| 8.0| 3.0|     1.0|       0.0|     0.0|    78.0|     1.0|  0.0|     1.0|16.0|   0.0|    866.0|      0.0|   0.0|      0.0|      0.0|     1.0|(16,[0,1,2,5,6,8,...|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes| 5.0| 1.0|     0.0|       0.0|     0.0|    91.0|     1.0|  0.0|     1.0|16.0|   0.0|   1013.0|      1.0|   0.0|      0.0|      0.0|     1.0|(16,[0,1,5,6,8,9,...|
| 29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|10.0| 0.0|     0.0|       1.0|     0.0|   151.0|     1.0|  1.0|     1.0|16.0|   0.0|   1309.0|      3.0|   0.0|      0.0|      0.0|     1.0|(16,[0,3,5,6,7,8,...|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|15.0| 1.0|     1.0|       1.0|     0.0|  1131.0|     1.0|  0.0|     1.0|16.0|   0.0|    949.0|      1.0|   0.0|      0.0|      0.0|     1.0|[15.0,1.0,1.0,1.0...|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes| 0.0| 2.0|     1.0|       1.0|     0.0|   184.0|     1.0|  0.0|     1.0|10.0|   0.0|    903.0|      1.0|   0.0|      0.0|      0.0|     1.0|(16,[1,2,3,5,6,8,...|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes| 4.0| 0.0|     2.0|       1.0|     0.0|  3154.0|     1.0|  0.0|     1.0|10.0|   0.0|    941.0|      0.0|   0.0|      0.0|      0.0|     1.0|(16,[0,2,3,5,6,8,...|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes| 1.0| 1.0|     1.0|       2.0|     0.0|   812.0|     1.0|  0.0|     1.0|10.0|   0.0|    619.0|      2.0|   0.0|      0.0|      0.0|     1.0|[1.0,1.0,1.0,2.0,...|
| 49|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|20.0| 4.0|     0.0|       0.0|     0.0|   915.0|     1.0|  0.0|     1.0|10.0|   0.0|    951.0|      0.0|   0.0|      0.0|      0.0|     1.0|(16,[0,1,5,6,8,9,...|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|12.0| 3.0|     0.0|       0.0|     0.0|   449.0|     1.0|  0.0|     1.0|10.0|   0.0|    693.0|      1.0|   0.0|      0.0|      0.0|     1.0|(16,[0,1,5,6,8,9,...|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|20.0| 3.0|     2.0|       0.0|     0.0|    82.0|     1.0|  1.0|     1.0|10.0|   0.0|    459.0|      0.0|   0.0|      0.0|      0.0|     1.0|(16,[0,1,2,5,6,7,...|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+----+----+--------+----------+--------+--------+--------+-----+--------+----+------+---------+---------+------+---------+---------+--------+--------------------+
only showing top 20 rows

In [ ]:
#split data
(training_data, test_data) = transformed_data.randomSplit([0.8,0.2])

In [ ]:
from pyspark.ml.classification import LogisticRegression
model = LogisticRegression(featuresCol = 'features',labelCol=class_name, maxIter=30)

In [ ]:
M = model.fit(training_data)

In [ ]:
# Predict with the test dataset
predictions = M.transform(test_data)

In [ ]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

multi_evaluator = MulticlassClassificationEvaluator(labelCol = 'deposit_', metricName = 'accuracy')
print('Logistic Regression Accuracy:', multi_evaluator.evaluate(predictions))

Logistic Regression Accuracy: 0.7892857142857143